<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.buygo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon33"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon33"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.buygo.ChatActivity"
            android:parentActivityName="com.example.buygo.MainActivity" />
        <activity
            android:name="com.example.buygo.NewProfileActivity"
            android:noHistory="true" />
        <activity
            android:name="com.example.buygo.MessageActivity"
            android:parentActivityName="com.example.buygo.ChatActivity" />
        <activity
            android:name="com.example.buygo.SellActivity"
            android:parentActivityName="com.example.buygo.MainActivity" />
        <activity
            android:name="com.example.buygo.Register"
            android:noHistory="true"
            />
        <activity
            android:name="com.example.buygo.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.buygo.LoginActivity"
            android:noHistory="true" />

        <activity android:name="com.example.buygo.AddItemActivity" />

        <activity
            android:name="com.example.buygo.BookDetailActivity"
            android:parentActivityName="com.example.buygo.MainActivity" />
    </application>

</manifest>